@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* display: flex;
  height: 100%;
  width: 100%; */
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f6f7ff;
}

/* 
.app {
  display: flex;
  position: relative;
}  */

* {
  margin: 0;
  padding: 0;
}
