input {
  background: #f4f8f7;
  appearance: none;
  margin: 1rem 0;
  border: none;
  font-size: 1.5rem;
  padding: 0.8rem 0;
  width: 30vw;
}

.input__box {
  padding-left: 1rem;
  width: 100%;
}

img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
